<template>
  <div class="block galleryBlock">
    <v-container>
      <h2 class="text-center">Activitys</h2>
      <v-row>
        <v-col v-for="item in items" :key="item.id" class="d-flex child-flex" cols="4" sm="4">
          <v-card flat tile class="d-flex">
            <v-img :src="item.src" aspect-ratio="1" class="grey lighten-2">
              <template v-slot:placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                </v-row>
              </template>
            </v-img>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Gallery",
  data() {
    return {
      items: [
        {
          id: 1,
          src: 'https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/68888883_10220170532870472_6441920850546393088_n.jpg?_nc_cat=111&_nc_sid=b9115d&_nc_ohc=9cBksNgca9QAX_y94iF&_nc_ht=scontent.fbkk14-1.fna&oh=d6d844065fd1c00e4a9b2bebfbc231d8&oe=5FA2C4CB'
        },
        {
          id: 2,
          src: 'https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/68676359_10220169400842172_82737086054006784_n.jpg?_nc_cat=101&_nc_sid=b9115d&_nc_ohc=JhXlrgqNJ5gAX9zYO-R&_nc_ht=scontent.fbkk10-1.fna&oh=cc451248b150fb4651462303a2055989&oe=5FA2FA9C'
        },
        {
          id: 3,
          src: 'https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/68866047_10220169448803371_7284680497303650304_n.jpg?_nc_cat=107&_nc_sid=b9115d&_nc_ohc=6WMaTmkODYcAX-eGMFb&_nc_oc=AQloUgwLMRTpakHMdUpsaER6XBobY5MWJKH6A4tz5an62sr1NuinIOX8ATuyMm9cizY&_nc_ht=scontent.fbkk10-1.fna&oh=7f99a91584ed70cd91379949ff841c7e&oe=5FA19425'
        },
        {
          id: 4,
          src: 'https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/69022109_10220164821487691_8867245086816075776_n.jpg?_nc_cat=108&_nc_sid=b9115d&_nc_ohc=lnMJf7QV69sAX_BFzst&_nc_ht=scontent.fbkk10-1.fna&oh=8618608350107cde91a7a8f3993e5152&oe=5FA1B77E'
        },
        {
          id: 5,
          src: 'https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/69262375_10220155782941733_384403799239819264_n.jpg?_nc_cat=109&_nc_sid=b9115d&_nc_ohc=r0FI3gBTDt0AX-A-dsb&_nc_ht=scontent.fbkk10-1.fna&oh=20c3e6f266f772c78b215657e8312c94&oe=5FA10528'
        },
        {
          id: 6,
          src: 'https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.15752-9/120780199_746220579268984_3455640146953833356_n.jpg?_nc_cat=108&_nc_sid=ae9488&_nc_ohc=D7CtCMojbZAAX-y0amr&_nc_ht=scontent.fbkk10-1.fna&oh=1999aedb0da7db409df9c33d4a0517d9&oe=5FA28D63'
        },
        {
          id: 7,
          src: 'https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.15752-9/120634620_628841641140627_42372378768154057_n.jpg?_nc_cat=105&_nc_sid=ae9488&_nc_ohc=qHAkVF37uiMAX-F26N6&_nc_ht=scontent.fbkk10-1.fna&oh=7ee773cf21d42a9c11e5199543a41807&oe=5FA1989A'
        },
        {
          id: 8,
          src: 'https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.15752-9/120601896_784104275705340_5263173544669125585_n.jpg?_nc_cat=101&_nc_sid=ae9488&_nc_ohc=XqZ5qCupXeAAX-WMV_a&_nc_ht=scontent.fbkk10-1.fna&oh=885103dcfef8b7c57336972fbe9818d7&oe=5FA080DE'
        },
        {
          id: 9,
          src: 'https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/69473711_10220155678539123_1848466620398174208_n.jpg?_nc_cat=101&_nc_sid=b9115d&_nc_ohc=DbOFi0SRU0AAX-jJ-84&_nc_ht=scontent.fbkk10-1.fna&oh=ae3a3c4bec57ccec7523f20cfaef0885&oe=5FA1B5B0'
        }
      ]
    };
  }
};
</script>
<style lang="scss" scoped>
.v-application {
  background: white;
  font: 300 ;
  font-weight: 300;

  .container {
    max-width: 900px;
  }

  .responsiveMenu {
    a {
      color: black;
    }
  }
}
.block {
  padding: 60px 0;
  border-bottom: 1px solid ;

  @media only screen and (max-width: 599px) {
    padding: 20px 0;
  }

  h2 {
    font-size: 30px;
    padding: 0 0 10px;
    margin: 0 0 40px;
    position: relative;

    @media only screen and (max-width: 599px) {
      font-size: 24px;
      padding: 0 0 5px;
      margin: 0 0 25px;
    }

    &:after {
      content: '';
      background: black;
      width: 60px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      // @media only screen and (max-width: 599px) {
      //   width: 30px;
      // }
    }
  }
}

</style>