<template>
  <div class="slideBlock">
   <v-carousel cycle hide-delimiters>
      <v-carousel-item
        v-for="(item,i) in items"
        :key="i"
        :src="item.src"
        reverse-transition="fade-transition"
        transition="fade-transition"
      >
        <v-row class="fill-height title" align="center" justify="center">{{ item.title }}</v-row>
      </v-carousel-item>
    </v-carousel>
  </div>
</template>
<script>
export default {
  name: "slideimage",
  data() {
    return {
      items: [
        {
          src: 'https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/117954446_3298859476873980_8240248284352444261_o.jpg?_nc_cat=101&_nc_sid=730e14&_nc_ohc=4PUY8VxwbZMAX_abwKc&_nc_ht=scontent.fbkk10-1.fna&oh=7bd08c329b7aac9fc5fbf482f73280a0&oe=5FA2079F',
          title: "MFU"
        },
        {
          src: 'https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/69107829_10220155638898132_3065857594162675712_o.jpg?_nc_cat=109&_nc_sid=b9115d&_nc_ohc=xWsR8UvtfyYAX9nD-No&_nc_ht=scontent.fbkk10-1.fna&oh=de368367ddb130c373cbbbb21620c568&oe=5FA1B258',
          title: "Hackathon"
        },
        {
          src: 'https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.15752-9/120889243_270356064100634_9068942726272823015_n.jpg?_nc_cat=110&_nc_sid=ae9488&_nc_ohc=ds-LABtA0bsAX_-6Ycz&_nc_ht=scontent.fbkk10-1.fna&oh=f1a9c86888f647a69063bd4f50637441&oe=5F9F7859',
          title: "Code Camp"
        }
      ]
    };
  }
};
</script>
<style lang="scss" scoped>
.v-application {
  background: white;
  font: 300 ;
  font-weight: 300;

  .container {
    max-width: 1200px;
  }

  .responsiveMenu {
    a {
      color: black;
    }
  }
}
.slideBlock {
    position: relative;
    .v-window {
      @media only screen and (max-width: 599px) {
        height: 220px !important;
      }
    }
    .v-image__image {
      &:before {
        content: '';
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
      }
    }
    .title {
      color: #ac2b14;
      position: relative;
      z-index: 2;
      top: -130px;
      font: 700 90px/1.6 red !important;
      
    }
  }
  // latest post block
  .latestPostBlock {
    background: darken(#cccccc, 2%);
    .v-card__title {
      background: rgba(0,0,0,0.3);
    }
  }
  @media (min-width:500px){
    .title{
        font-size:16px
    }
  }
</style>