<template>
  <v-app dark>
    <sidebar></sidebar>
    <topbar></topbar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
      <footer></footer>
    </v-main>
  </v-app>
</template>

<script>
import Sidebar from '@/components/Global/Sidebar'
import Topbar from '@/components/Global/Topbar'
import Footer from '@/components/Global/Footer'
export default {
  components : {
      Sidebar,
      Topbar,
      Footer
  } 
}
</script>
