<template>
  <div>
    <div class="staticHero">
      <v-img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.15752-9/121015886_741847096364510_7517317901355469789_n.jpg?_nc_cat=101&_nc_sid=ae9488&_nc_ohc=Uybk6D2ez2oAX_aOxnK&_nc_ht=scontent.fbkk10-1.fna&oh=41e7b35fb6f6954c7de94bce61d3444c&oe=5FA3B6B9">
        <v-row align="end" class="lightbox white--text pa-2 fill-height">
          <v-col>
            <v-container>
              <div class="headline">About Me</div>
            </v-container>
          </v-col>
        </v-row>
      </v-img>
    </div>
    <div class="block">
      <v-row align="center">
    <v-item-group
      v-model="window"
      class="shrink mr-6"
      mandatory
      tag="v-flex"
    >
      <v-item
        v-for="n in information"
        :key="n"
        v-slot:default="{ active, toggle }"
      >
        <div>
          <v-btn
            :input-value="active"
            icon
            @click="toggle"
          >
            <v-icon>mdi-record</v-icon>
          </v-btn>
        </div>
      </v-item>
    </v-item-group>
    <v-col>
      <v-window
        v-model="window"
        class="elevation-1"
        vertical
      >
        <v-window-item
          v-for="(info,index) in information"
          :key="index"
        >
          <v-card flat>
            <v-card-text>
              <v-row
                class="mb-4"
                align="center"
              >
                <v-avatar
                  color="blue"
                  class="mr-4"
                ></v-avatar>
                <strong class="title">{{ info.title}}</strong>
                <v-spacer></v-spacer>
                <v-btn icon>
                  <v-icon>mdi-account</v-icon>
                </v-btn>
              </v-row>
              <p>
                {{info.description}}
              </p>
            </v-card-text>
           
          </v-card>
          </v-window-item>
      </v-window>
    </v-col>
    <v-card-text>
          <div class="font-weight-bold ml-8 mb-2">
            Skills
          </div>

          <v-timeline
            align-top
            dense
          >
            <v-timeline-item
              v-for="message in messages"
              :key="message.time"
              :color="message.color"
              small
            >
              <div>
                <div class="font-weight-normal">
                  <strong>{{ message.from }}</strong> {{ message.time }}
                </div>
                <div>{{ message.message }}</div>
              </div>
            </v-timeline-item>
          </v-timeline>
        </v-card-text>
  </v-row>
    </div>
    </div>
</template>

<script>
export default {
    data: () => ({
      length: 3,
      window: 0,
      information:[
        {
          title: "Personal",
          description:"Hello! My name is Niracha Leepreecha or you can also call me Noi. I’m twenty years old. I live at 2/1 Moo. 1 Khek Noi, Khao Kho, Phechabun 67280. There are 5 people in my family.There are my father, my mother, 1 younger sister, 1 younger brother  and myself. Mobile: 0612789843, Email: 6231305014@lamduan.mfu.ac.th, Date of Birth: 18 July 2000, Nationallity: Thai, Marital Status: Single, Interest and Activities : Join the volunteer camp to help the needy villages, Participant in various running events, Enjoy jogging, table tennis, reading"
        },
        {
          title: "Education",
          description:"2020-2021 --> Present Mae Fah Luang University, Chiang rai, School of: Information Technology, Major: Software Engineering, GPA : 3.57 , 2017-2019 --> Campsonwittayakhom School, Phechabun, Program : Sciences and Mathematics, GPA: 3.57"
        },
        {
          title: "Working Experience",
          description:"Mobile App by React Native, Web Application by NUXT.js + Vue.js, Hackathon Camp MFU (Deverlopment Team), Code Camp (Java)"
        }
      ],
      messages: [
        {
          from: 'Programming Languages',
          message: 'Java, HTML, CSS',
          color: 'pink',
        },
        {
          from: 'Framwork & Libraries ',
          message: 'Flutter(Basic), Vue.js(Basic), Bootstrap, NUXT.js(Basic), React Native(Basic) ',
          color: 'green',
        },
        {
          from: 'Tools',
          message: 'Visual studio code, Photoshop, XD, Github, Xcode, Android studio',
          color: 'deep-purple lighten-1',
        },
      ],

    }),
  }
</script>