<template>
  <div>
    <div class="staticHero">
      <v-img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.15752-9/120889532_399384417773646_7761144217543439056_n.jpg?_nc_cat=101&_nc_sid=ae9488&_nc_ohc=Vsif6rH-mmcAX9iROmD&_nc_ht=scontent.fbkk10-1.fna&oh=24aa5518858a3b89cdd9d9daef5aeb3d&oe=5FA1D05D">
      <v-row align="end" class="lightbox white--text pa-2 fill-height">
        <v-col>
          <v-container>
            <div class="headline">Contact</div>
          </v-container>
        </v-col>
      </v-row>
    </v-img>
    </div>
    <div class="block">
      <v-container>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field v-model="name" :counter="20" :rules="nameRules" label="Name" required></v-text-field>
          <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
          <v-textarea v-model="message" :rules="messageRules" label="Message" required></v-textarea>
          <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">Submit</v-btn>
          <v-btn color="error" class="mr-4" @click="reset">Reset</v-btn>
        </v-form>
      </v-container>
    </div>
    <div class="googlemap">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122191.56492031954!2d100.916348846143!3d16.851816522214445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3120688f5dedd41b%3A0x9f39d240b7cf5e0b!2sKhek%20Noi!5e0!3m2!1sen!2sth!4v1601980830329!5m2!1sen!2sth" width="100%" height="450"></iframe>
    </div>
  </div>
</template>

<script>
export default {
  name: "Contact",
  data: () => ({
    valid: true,
    name: "",
    nameRules: [
      v => !!v || "Name is required",
      v => (v && v.length <= 20) || "Name must be less than 20 characters"
    ],
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ],
    message: "",
    messageRules: [
      v => !!v || "Message is required",
      v => (v && v.length >= 10) || "Message must be more than 10 characters"
    ],
  }),
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
      }
    },
    reset() {
      this.$refs.form.reset();
    }
  }
};
</script>