<template>
  <v-card>
    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :search="search"
    ></v-data-table>
  </v-card>
</template>

<script>
  export default {
    data () {
      return {
        search: '',
        headers: [
          {
            text: 'ID',
            align: 'start',
            filterable: false,
            value: 'id',
          },
          { text: 'First_name', value: 'first_name' },
          { text: 'Last_name', value: 'last_name' },
          { text: 'Email', value: 'email' },
          { text: 'Phone', value: 'phone' },
        ],
        desserts: [{
  "id": 1,
  "first_name": "Beilul",
  "last_name": "Maulkin",
  "email": "bmaulkin0@google.nl",
  "phone": "804-841-3176"
}, {
  "id": 2,
  "first_name": "Dexter",
  "last_name": "Chang",
  "email": "dchang1@trellian.com",
  "phone": "668-630-3641"
}, {
  "id": 3,
  "first_name": "Jarrett",
  "last_name": "Garaghan",
  "email": "jgaraghan2@hexun.com",
  "phone": "348-552-3692"
}, {
  "id": 4,
  "first_name": "Goldina",
  "last_name": "Hurdman",
  "email": "ghurdman3@blogtalkradio.com",
  "phone": "447-889-6106"
}, {
  "id": 5,
  "first_name": "Audi",
  "last_name": "Mingo",
  "email": "amingo4@people.com.cn",
  "phone": "217-447-9888"
}, {
  "id": 6,
  "first_name": "Alex",
  "last_name": "Lief",
  "email": "alief5@vk.com",
  "phone": "315-574-4859"
}, {
  "id": 7,
  "first_name": "Bale",
  "last_name": "McComiskey",
  "email": "bmccomiskey6@merriam-webster.com",
  "phone": "873-896-2949"
}, {
  "id": 8,
  "first_name": "Faye",
  "last_name": "Coan",
  "email": "fcoan7@icq.com",
  "phone": "169-145-3388"
}, {
  "id": 9,
  "first_name": "Fonzie",
  "last_name": "Gounot",
  "email": "fgounot8@devhub.com",
  "phone": "180-566-7811"
}, {
  "id": 10,
  "first_name": "Antonio",
  "last_name": "Nobes",
  "email": "anobes9@arstechnica.com",
  "phone": "407-169-1941"
}]
      }
    },
  }
</script>