<template>
    <div>
    <h1>Hello Noi</h1>
    <h2>{{myname}}</h2>
    <h2>Phone : {{phone}}</h2>
    <h2>Email : {{email}}</h2>
    
    </div>
</template>
<script>
export default {
    data:()=>({
        myname : "Niracha Leepreecha",
        phone : "0612789843",
        email : "niracha_lee@hotmail.com"
    })
}
</script>
<style scoped>
  h1{
      color: blue;
  }
</style>