<template>
  <v-app>
    
    <router-view></router-view>

    <!-- <v-footer> -->
      <slideimage/>
      <gallery/>
    <!-- </v-footer> -->
  </v-app>
</template>

<script>
import slideimage from "@/components/slideimage.vue";
import gallery from "@/components/gallery.vue";
export default {
  // name: "index",
  components: {
    slideimage,
    gallery
  },
  data: () => ({
    //
  })
};
</script>