<template>
    <div>
        <v-layout wrap>
            <v-flex sm6 md4>
                <v-card outlined>
                    <h1>Mycard</h1>
                </v-card>
            </v-flex>
            <v-flex sm6 md4>
                <v-card outlined>
                    <h1>Mycard</h1>
                </v-card>
            </v-flex>
            <v-flex sm6 md4>
                <v-card outlined>
                    <h1>Mycard</h1>
                </v-card>
            </v-flex>
            <v-flex m6 md4>
                <v-card outlined>
                    <h1>Mycard</h1>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>