<template lang="html">
     <v-footer app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
</template>

<script>
export default {
    
}
</script>

<style lang= "css" scoped>

</style>