<template lang= "html">
    <v-navigation-drawer
      v-model="drawer"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
    data(){
        return {
            items: [
        {
          icon: 'mdi-home',
          title: 'HOME',
          to: '/'
        },
        {
          icon: 'mdi-account',
          title: 'ABOUT ME',
          to: '/aboutme'
        },
        {
          icon: 'mdi-email',
          title: 'CONTACT',
          to: '/contact'
        },

      ],
        }
    },
    computed:{
        drawer: {
            get() {
                return this.$store.state.drawer
            },
            set(newVal) {
                this.$store.commit('set_drawer',newVal)
            }
        }
    }
}
</script>

<style lang= "css" scoped>

</style>